
test_ts.csv

testing_recurrence_ISS.jl

test_series.csv

*.mat

Applications/Kuramoto model/system with switch/results/emd1.csv

Applications/Kuramoto model/system with switch/results/emd2.csv

Applications/Kuramoto model/system with switch/results/emd3.csv

Applications/Kuramoto model/system with switch/results/emd4.csv
