
test_ts.csv

testing_recurrence_ISS.jl

test_series.csv


# remove compilation output(s)
Manuscript/*.aux
Manuscript/*.bbl
Manuscript/*.blg
Manuscript/*.loc
Manuscript/*.log
Manuscript/*.out
Manuscript/*.pdf
Manuscript/*.soc
Manuscript/*.synctex.gz
Applications/.DS_Store

Applications/Kuramoto model/.DS_Store

Applications/Roessler Transition/.DS_Store

.DS_Store
